* {
  font: SUSE;
  font-size: 18px;
  margin: 5px;
}
body {
  background: #80ab82;
}
.navegacion {
  background: #7dcd85;
}
.adts {
  text-align: center;
  margin-top: auto;
}
.BtWaydroihd {
  margin-left: 1000px;
  float: inline-end;
}
.imgapp {
  margin: 20px;
  width: 3%;
}
.licencia {
  text-align: center;
  margin-top: 15px;
  background-color: #7dcd85;
}
