* {
  font-family: sans-serif;
  background: brown;
  margin: 20px 15px;
}

header {
  border: solid;
  margin-inline-start: ;
}
.peligono {
  border: solid;
}

.nav {
  float: right;
  display: block;
  margin-right: 30px;
}
.separator {
  display: block;
  text-align: center;
  margin-top: auto;
}

.Arknights {
  margin-bottom: 75px;
  margin: 20px;
}

.ArkImg {
  width: 55px;
  display: block;
}

.mensa {
  margin-left: 45px;
}
.GuardianTales {
  margin: 20px;
  margin-bottom: 75px;
}
.Reverse1999 {
  margin: 20px;
  margin-bottom: 75px;
}

.footer1 {
  margin-top: auto;
  text-align: center;
  display: block;
}
