---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="public/style/mlg.css" type="text/css" />
		<meta name="author" content="RyukuToa" />
		<meta name="author" content="Naval123" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Linux Mobile Gaming</title>
	</head>
	<body>
		<div>
		<nav class="nav">
			<header>
				<h1>Linux Mobile Gaming</h1>
			</header>
			<ul>
				<input type="button" value="Waydroid guide"/>
			</ul>
		</nav>
		<nav class="peligono">
			<article class="Arknights">
				<img class="ArkImg" src="public/waymage/arknights.jpg" />
					<span class="mensa">Arknights:</span>
				<footer class="Ark-F">Warning:</footer>
			</article>

			<article class="GuardianTales">
			<img class="ArkImg" src="public/waymage/GuardianTales.jpg" alt="">
					<span class="mensa">Guardian Tales:</span>
				<footer class="GT-F">Warning: </footer>
			</article>

			<article class="Reverse1999">
			<img class="ArkImg" src="public/waymage/reverse1999.jpg" alt="">
					<span class="mensa">Reverse1999:</span>
				<footer class="R19-F">Warning:</footer>
			</article>
			<article>
			<img class="ArkImg" src="public/waymage/BlueArchive.jpg" alt="">
			        <span class="mensa">Blue archive:</span>
				<footer>Warning:</footer>
			</article>
			</nav>
			<footer class="footer1">This page is under Mit license 2024-2025</footer>
		</div>
	</body>
</html>
