---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="public/style/mlg.css" type="text/css" />
		<meta name="author" content="RyukuToa" />
		<meta name="author" content="Naval123" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Linux Mobile Gaming</title>
	</head>
	<body>
<div class="navegacion">
    <nav>
    <h1>Linux mobile gaming</h1>
     <button class="BtWaydroid">Guide Waydroid</button>
    </nav>
</div>
<div class="adts">
    <h3>Warning: This page is under the experience of RyukuToa, it would be appreciated if you could send your experiences playing games on waydroid to "ryukutoa@proton.me"</h3>
</div>
<div class="lista">
    <div class="reseñas-arknighst">
        <article>

            <h2>Arknights</h2>
            <img class="imgapp" src="../src/pages/waymage/arknights.jpg" alt="">
            <ul>
                <li>Status: playable without additional modifications</li>
                <li>Problems: When downloading the game data, it is very likely that after a while it will crash.</li>
                <li>Recommendations: Be patient and check every so often to close and reopen</li>
            </ul>
        </article>
    </div>
    <div class="reseñas-bluearchive">
        <article>
        <img class="imgapp" src="../src/pages/waymage/BlueArchive.jpg" alt="">
            <h2>Blue Archive</h2>
            <ul>
                <li>Status: playable with waydroid guide script</li>
                <li>Problems: When finishing downloading some packages, the game closes</li>
                <li>Recommendations: follow the guide we have posted above, if you already have an arm translator, just patch it with the qwerty-23456-wart script</li>
            </ul>
        </article>
    </div>
    <div class="reseñas-guardiantales">
        <article>
        <img class="imgapp" src="../src/pages/waymage/GuardianTales.jpg" alt="">
            <h2>Guardian Tales</h2>
            <ul>
                    <li>Status: broken</li>
                <li>Problems: Even if the game is installed and can be started, when doing the activities it is impossible without a keymapper</li>
                <li>Recommendations: If you know any recommendations, send them to the email above.</li>
            </ul>
        </article>
    </div>
    <div class="reseñas-reverse1999">
        <article>
        <img class="imgapp" src="../src/pages/waymage/reverse1999.jpg" alt="">
            <h2>Reverse1999</h2>
            <ul>
                    <li>Status: playable</li>
                <li>Problems: </li>
                <li>Recommendations: </li>
            </ul>
        </article>
    </div>
    <div class="reseñas-epic7seven">
        <article>
        <img class="imgapp" src="../src/pages/waymage/Epic7Seven.jpg" alt="">
            <h2>Epic seven</h2>
            <ul>
                <li>Status: playable</li>
                <li>Problems: </li>
                <li>Recommendations: </li>
            </ul>
        </article>
    </div>
</div>
<div class="licencia">
    <footer>This website is licensed under GPLv2 2024-2025</footer>
</div>
	</body>
</html>
